/vendor/*
!/vendor/flightsadmin/
!/vendor/flightsadmin/livewire-crud/
!/vendor/flightsadmin/livewire-crud/src/
!/vendor/flightsadmin/livewire-crud/src/**

/node_modules/
/public/storage
public/oc/
/storage/*.key

/storage/logs/*.log
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/testing
/storage/app/public
/storage/app/livewire-tmp/

.env
.env.*
!.env.example
/public/hot
/public/mix-manifest.json
*.log
.idea
.vscode
Thumbs.db
.DS_Store
npm-debug.log
yarn-error.log
*.sql
