body {
    font-family: 'Helvetica', sans-serif;
    font-size: 9pt;
    margin: 0;
    color: #1a1a1a;
    counter-reset: page;
}
.cabecera {
    width: 100%;
    position: relative;
    text-align: center;
}
.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 10px;
}
th {
    background: #001060;
    color: #ffffff;
    padding: 6px 5px;
    font-size: 10pt;
    border: none;
    font-weight: bold;
}
tr.sub-cabecera th {
    font-size: 11px;
    border-bottom: 1px solid #000;
}
td {
    padding: 4px 4px;
    vertical-align: middle;
    border: none;
}
tr.separadora td {
    border-bottom: 1px solid #000;
    padding-top: 6px;
    padding-bottom: 4px;
    font-size: 10px;
    background-color: #f8f9fa;
}
tr.detalle td {
    vertical-align: top;
    border-bottom: 0.1pt solid #e0e0e0;
}
tr.subtotal td {
    border-top: 1px dashed #000;
    border-bottom: 1px solid #000;
    padding: 4px;
    font-weight: bold;
    background-color: #f1f1f1;
}
.totales {
    margin-top: 10px;
}
.totales td {
    font-size: 11px;
    margin-top: 25px;
}
.bordes {
    border-top: 2px double gray;
    border-bottom: 2px double gray;
}
.gris {
    background-color: #f1f8fe;
}
.derecha {
    text-align: right;
}
.centro {
    text-align: center;
}
.negrita {
    font-weight: bold;
}
.grupo {
    background-color: #f8f9fa;
    font-weight: bold;
    padding: 5px;
    border-top: 1pt solid #001060;
    border-bottom: 0.5pt solid #ccc;
}
.total {
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 9pt;
}
.linea-detalle {
    font-size: 7.5pt;
    color: #555;
    font-style: italic;
}
@page {
    margin: 15px 20px 15px 20px;
}
.pagina::after {
    content: counter(page);
}
.salto-pagina { page-break-after: always; }
.salto-pagina:last-child { page-break-after: avoid; }